<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8`">
     <title>HE | Dashboard</title>
     <link href="/css/vendor/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/css/dashboard.css" rel='stylesheet' type='text/css' />
</head>

<body>    
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HE|Home Expanse</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/about">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" id="sidebar">
            <li class=""><a href="/dashboard/overview" data-module="overview">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/dashboard/electricity" data-module="electricity">Electricity</a></li>
            <li><a href="/dashboard/vichele" data-module="vichele" >Vichle</a></li>
            <li><a href="/dashboard/servent" data-module="servent">Servent</a></li>
            <li><a href="/dashboard/gas" data-module="gas">Gas</a></li>
          </ul>       
        </div>       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main-body">
          {{> (whichPartial) }}
        </div>        
      </div>
    </div>
    
    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="/js/app/dashboard/dashboard-service.js"></script>
    <script src="/js/app/dashboard/dashboard.js"></script>      
    <script src={{serviceUrl}}></script>  
    <script src={{controllerUrl}}></script>  
</body>

</html>