<h1 class="page-header">Electricity</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <button id="add-new-row" class="btn btn-success">ADD</button>

    </div>
    <table class="table table-bordered" id="grid-electricity">
        <thead>
            <tr>
                <th>Month</th>
                <th>OLD</th>
                <th>NEW</th>
                <th>DIFF</th>
                <th>RATE</th>
                <th>TOTAL</th>
                <th>--</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>