 <h3 class="masthead-brand">Home Expanse</h3>
<nav>
    <ul class="nav masthead-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>