<h1 class="page-header"> {{ modulename}} </h1>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Electricity</h3>
        <p class="card-text">1011 INR</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Vichel</h3>
        <p class="card-text">2000INR</p>
      </div>
    </div>
  </div>
   <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Servent</h3>
        <p class="card-text">XYZ - 2</p>
      </div>
    </div>    
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Gas</h3>
        <p class="card-text">toady</p>
      </div>
    </div>    
  </div>
</div>

<h2 class="sub-header">Vacation Tracker</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,013</td>
        <td>torquent</td>
        <td>per</td>
        <td>conubia</td>
        <td>nostra</td>
      </tr>
      <tr>
        <td>1,014</td>
        <td>per</td>
        <td>inceptos</td>
        <td>himenaeos</td>
        <td>Curabitur</td>
      </tr>
      <tr>
        <td>1,015</td>
        <td>sodales</td>
        <td>ligula</td>
        <td>in</td>
        <td>libero</td>
      </tr>
    </tbody>
  </table>
</div>